$primary: #004f71;
$secondary: #ffc72c;
$tertiary: #ffff;
$quinary: #252525;
$senary: #B6B6B6;
$bg: #fbfbfb;
$alert: #ff0000;

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-sidebard {
  background-color: $tertiary;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}
