@import "./_variables.scss";
@import "./components/buttons";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $bg;
  font-family: "open sans", sans-serif;
  color: $primary;
}

p,
h2 {
  margin-bottom: 0;
}

.bg-login {
  background-image: url("../img/background.png");
}

.mw-30 {
  max-width: 30%;
}

.btn-primary {
  background-color: #004f71;
  color: $tertiary;
  border: #004f71;
}

a {
  text-decoration: none;
}

.nav-link {
  color: $primary;
  padding: 0;
}

.nav-link:focus,
.nav-link:hover {
  color: $primary;
}

.nav {
  .activeNav {
    background-color: $bg;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    svg {
      fill: $secondary;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      background-color: $secondary;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  hr {
    margin: 3rem auto;
    width: 70%;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  .logout {
    color: $alert;
    svg {
      fill: $alert;
    }
  }
}

.nav-header {
  a {
    color: $primary;
  }

  svg {
    width: 24px;
    height: 24px;
  }

    textarea {
      height: 15vh;
    }
  }
  input {
    border: none;
    width: 110px;
    background-color: $bg;
  }

  .content__send {
    text-align: center;

    button {
      width: 22rem;
    }
  }
  input::placeholder {
    color: #b6b6b6;
  }
}

.container__rdv {

  .content__card span {
    justify-content: flex-start;

    div {
      display: flex;
      width: 40%;
    }
  }
}