@import "./_variables.scss";
@import "./components/buttons";

body {
  height: 100vh;
  background-color: $bg;
  font-family: "open sans", sans-serif;
  color: $primary;
}

.bg-login{
    background-image: url("../images/background1.png");
}

.mw-30{
    max-width: 30%;
}

.btn-primary {
    background-color: #004f71;
    color: $tertiary;
    border: #004f71;
  }