@import "./_variables.scss";
@import "./components/buttons";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 4em;
  background-color: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $senary;
  border-radius: 4em;
}

body {
  height: 100vh;
  background-color: $bg;
  font-family: "open sans", sans-serif;
  color: $primary;
}

p,
h2 {
  margin-bottom: 0;
}

.bg-login {
  background-image: url("../img/background.png");
}

.mw-30 {
  max-width: 30%;
}

.btn-delete {
  background-color: $alert;
  color: $tertiary;
  border: $alert;
}

.btn-primary {
  background-color: #004f71;
  color: $tertiary;
  border: #004f71;
}

a {
  text-decoration: none;
}

.nav-link {
  color: $primary;
  padding: 0;
}

.nav-link:focus,
.nav-link:hover {
  color: $primary;
}

.nav {
  .activeNav {
    background-color: $bg;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    svg {
      fill: $secondary;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      background-color: $secondary;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  hr {
    margin: 3rem auto;
    width: 70%;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  .logout {
    color: $alert;
    svg {
      fill: $alert;
    }
  }
}

.nav-header {
  a {
    color: $primary;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  textarea {
    height: 15vh;
  }
}
input {
  border: none;
  width: 110px;
  background-color: $bg;
}
input {
  border: none;
  width: 110px;
  background-color: $bg;
}

input::placeholder {
  color: #b6b6b6;
}

.content__send {
  text-align: center;
  button {
    width: 22rem;
  }
}

.container__suivi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
  padding: 0;
  h3 {
    color: $senary;
    font-size: 1rem;
  }
  p {
    color: $quinary;
    margin: 0;
  }
  .content__card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    background: $tertiary;
    border: 1px solid #f4f4f4;
    span {
      display: flex;
      justify-content: space-between;
      gap: 5%;
    }
    textarea {
      height: 15vh;
    }
  }
  .content__send {
    text-align: center;
    button {
      width: 22rem;
    }
  }
}
input::placeholder {
  color: #b6b6b6;
}

.container__rdv {
  .content__card span {
    justify-content: flex-start;
    div {
      display: flex;
      width: 40%;
    }
  }
}
.containerMain {
  height: calc(100% - 3rem * 2);
}

.containerMain {
  height: calc(100% - 3rem * 2);
}

table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  overflow: auto;
  thead {
    tr {
      th {
        padding-bottom: 1rem;
        border-bottom: #f4f4f4 solid 1px;
        text-align: left;
        color: $senary;
        font-weight: 500;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: left;
      }
    }
  }
}

.nav-agents {

  li  {
    background-color: $tertiary;
    border: 1px solid #F4F4F4;
  }
  
  li:not(:first-child):before   {
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 15px;
  }
  
  li:nth-child(2):before {
    color: #E72424;
  }
  
  li:nth-child(2):before {
    color: #E72424;
  }
  
  li:nth-child(3):before {
    color: #50C83D;
  }
  
  li:nth-child(4):before {
    color: #FF922E;
  }
  } 
  
  .containerMain{
    height: calc(100% - 3rem *2);
  }

  .modal{
    display: none;
  }