.btn-primary{
    background-color: $primary;
    color: $secondary;
    border: $primary;
    &:hover{
        background-color: $secondary;
        color: $primary;
        border: $secondary;
    }
}